.form {
  padding: 1em 0.4em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  /* border: 1px solid red; */
  /* width: 100%; */
}

.form input {
  font-family: inherit;
  height: 100%;
  padding: 0.5em 1.4em;
  border: 2px solid #999;
  border-radius: 25px;
}

.form div:not(.form__actions) {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  gap: 0.8em;
}

.form__email-div {
}

.form__password-div {
}

.form .form__actions {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  gap: 0.5em;
  margin-top: 0.8em;
}

.form__actions button {
  font-family: inherit;
  font-weight: bold;
  padding: 0.6em 1.2em;
  background-color: whitesmoke;
  border: 2px solid #999;
  border-radius: 20px;
  color: #333;
}
