.aside {
  padding: 2.5em;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 4 6px 12px rgba(0, 0, 0, 0.2);
  background-color: black;
  color: whitesmoke;
  justify-content: flex-start;
  gap: 2em;
  height: 100%;
  width: 10em;
  grid-area: principalBar;
}

.aside a {
  color: rgba(245, 245, 245, 0.89);
}

.aside a:hover {
  color: rgba(245, 245, 245, 0.456);
}

.aside a:active {
  color: rgba(245, 245, 245, 0.306);
}

.nav {
  flex-grow: 1;
}

.ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 100%;
}

.ul li:nth-child(6) {
  margin-top: auto;
}
