.header {
  grid-area: searchBar;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: flex-start;
  /* border: 1px solid red; */
}

.header__div {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.6em;
  height: 100%;
}

.header__account-link {
  width: 35px;
  height: 35px;
  border: 2px solid #999;
  border-radius: 200px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__notifications-button {
  width: 35px;
  height: 35px;
  border: 2px solid #999;
  border-radius: 200px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
